html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


*,
*::befor,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.form-todo__desc {
    text-align: center;
    width: 300px;
    border: 1px solid #000;
    border-radius: 5px;
}

.item {
    display: flex;
}

.item-section {
    margin-left: -100px;
    padding: 10px 10px;
    width: 500px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #000;
}

.delete-btn {
    border: none;
    background-color: transparent;
}

.item-text {
    margin: 0;
    margin-top: -7px;
    margin-left: 10px;
}